<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

  </head>
  <body>
    <header>
      <h1>URL_SHORTENER_MICROSERVICE-APP
      </h1>
      <a href="http://juandavidarce.co/" target="_blank">
      <div class="logoPrincipal" href="http://juandavidarce.co/">
          <div class="wrapper">
           <div class="square"></div>
           <div class="tall"></div>
           <div class="wide"></div>
          </div>  
      </div>
      </a> 
      <h3>Created by Juan David Tabares Arce
      </h3>
    </header>
  
    <main>
      <section class="dreams">
        <div class="container">
  <div class="jumbotron">
    <h1>FreeCodeCamp API Basejump: URL Shortener Microservice</h1>      
    <p>This is one of the 10 FreeCodeCamp challenges designed to get the FCC backend certification. You can check the specific requirements here: 
      <a href="https://www.freecodecamp.org/challenges/url-shortener-microservice" target="_blank">https://www.freecodecamp.org/challenges/url-shortener-microservice</a>
    </p>
  </div>
  <h2>User Stories</h2>      
  <h4>-I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.</h4>
  <h4>-If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.</h4>
   <h4>-When I visit that shortened URL, it will redirect me to my original link.</h4>   
</div>
        <div class="container">
          <h1>Example Creation Usage
          </h1>
          <code>Texto encima&lt;section&gt;</code>
        </div>  
    </section>
    </main>

    <footer>
      <div id="section42" class="container-fluid text-center">
  <h1><span class="label label-primary">Redes Sociales</span></h1>
  <p>Puedes contactarme por medio de mis redes sociales para más información sobre mis servicios o asesorias. </p>
 
  <a href="https://www.facebook.com/juandavidarce.co/" target="_blank" class="fa fa-facebook iconos"></a>
<a href="https://github.com/juandata" target="_blank" class="fa fa-github iconos"></a>
   <a href="https://codepen.io/juandata/" target="_blank" class="fa fa-codepen iconos"></a>
<a href="https://twitter.com/juandavidarce" target="_blank" class="fa fa-twitter iconos"></a>
   <a href="https://www.freecodecamp.org/juandata" target="_blank" class="fa fa-free-code-camp iconos"></a>
<a href="https://www.linkedin.com/in/juan-david-arce-web-developer/" target="_blank" class="fa fa-linkedin iconos"></a>
   <a href="https://plus.google.com/108728558844448484790" target="_blank" class="fa fa-google-plus iconos"></a>
<a href="http://juandavidarce.co/blog.html" target="_blank" class="fa fa-rss iconos"></a>
</div>
<div class="container-fluid pie text-center">
  <p>Hecho con amor y pacienca por Juan David Tabares Arce | © Todos los derechos reservados | Mayo 2018 | info@juandavidarce.co | +56 4932 2673| Santiago, Chile</p>
  </div>
    </footer>
    
    
    <!-- import the webpage's client-side javascript file -->
    <script src="/client.js"></script>
  </body>
</html>
